.item1 {
  grid-column: span 4 / auto;
}

/* Element that spans 4 rows */
.item2 {
  grid-row: span 4 / auto;
}

/* Elements that span 2 columns each */
.item4, .item5 {
  grid-column: span 2 / auto;
}

/* Element that spans 3 columns */
.item10 {
  grid-column: span 3 / auto;
}
#grid{
	display:grid;
	grid-template-rows:124px 124px 124px 124px 124px;
	grid-template-columns:242.5px 242.5px 242.5px 242.5px;
	grid-template-areas:"item1 item1 item1 item1"
		"item2 item3 item4 item4"
		"item2 item5 item5 item6"
		"item2 item7 item8 item9"
		"item2 item10 item10 item10";
	gap:5px;
}
#grid div{
	background-color:green;
	font-size:4rem;
	color:white;
}